/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
    background: #000;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#colorbox {
    outline: 0;
}

#cboxContent {
    margin-top: 20px;
    background: #000;
}

.cboxIframe {
    background: #fff;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent {
    border: 5px solid #000;
    background: #fff;
}

#cboxTitle {
    position: absolute;
    top: -20px;
    left: 0;
    color: #ccc;
}

#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0px;
    color: #ccc;
}

#cboxLoadingGraphic {
    background: url(images/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
    outline: 0;
}

#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff;
}

#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    background: url(images/controls.png) no-repeat top left;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxPrevious:hover {
    background-position: bottom left;
}

#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    background: url(images/controls.png) no-repeat top right;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxNext:hover {
    background-position: bottom right;
}

#cboxClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: url(images/controls.png) no-repeat top center;
    width: 38px;
    height: 19px;
    text-indent: -9999px;
}

#cboxClose:hover {
    background-position: bottom center;
}

.listNav, .ln-letters {
    overflow: hidden
}

.listNavHide {
    display: none
}

.listNavShow {
    display: list-item
}

.letterCountShow {
    display: block
}

.ln-letters a {
    font-size: 0.9em;
    display: block;
    float: left;
    padding: 2px 6px;
    border: 1px solid silver;
    border-right: none;
    text-decoration: none
}

.ln-letters .ln-last {
    border-right: 1px solid silver
}

.ln-letters a:hover, .ln-letters .ln-selected {
    background-color: #eaeaea
}

.ln-letters .ln-disabled {
    color: #ccc
}

.ln-letter-count {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    text-align: center;
    font-size: 0.8em;
    line-height: 1.35;
    color: #336699
}

/* Colorbox corrections
-------------------------------------------------- */
#cboxLoadingGraphic {
    background: url(/img/loading.gif) no-repeat center center;
}

#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    background: url(/img/controls.png) no-repeat top left;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    background: url(/img/controls.png) no-repeat top right;
    width: 28px;
    height: 65px;
    text-indent: -9999px;
}

#cboxClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: url(/img/controls.png) no-repeat top center;
    width: 38px;
    height: 19px;
    text-indent: -9999px;
}

html, body {
    height: 100%
}

body {
    padding-top: 70px
}

#header {
    display: block
}

#footer {
    background-color: #B01818;
    color: #FFF;
    height: 60px
}

#footer a {
    color: #CCC
}

#container {
    color: #333;
    overflow: visible
}

#wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 15px 60px 15px;
}

#teamSchedule {
    margin: 16px 0
}

.navbar {
    background: #B01818 none;
}

.navbar .navbar-brand, .navbar a, .fa-navicon {
    color: #FFF
}

.navbar .dropdown-menu a {
    color: black;
}

.navbar .active, .navbar a:hover, .navbar a:focus {
    background: #40B4B4 none;
    color: #FFF
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #40B4B4 none;
    color: #FFF
}

.boxscore {
    border-collapse: collapse
}

.boxscore td, .boxscore th {
    border: 1px solid black
}

.pagination > li {
    display: inline-block;
}

#datepicker {
    height: 200px;
    padding: 2px 25px
}

.teamcolor {
    height: 176px;
    width: 45px
}

.teamcolorbox {
    border: 2px solid #033;
    margin: 0 5px;
    width: 94px
}

.helmet {
    height: 180px;
    margin: auto
}

.mapbox {
    height: 180px;
    width: 180px
}

.googlemap {
    border: 2px solid #033;
    padding: 0
}

.teaminfo-inset {
    margin-left: 25px
}

#description h2 {
    color: #006fbb;
    font-size: 23px;
    line-height: 1.3em;
    margin-bottom: 0.5em
}

#description p {
    color: #333;
    font-size: 14px;
    line-height: 1.7em;
    margin: 1em 0 1.5em 0
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}
.ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute;
}
.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
}
.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    font-weight: normal;
    color: #000;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
    background-color: #0d70b7;
    color: #FFF
}
